@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: white
}

body {
  background-color: white;
  color: black;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  background-color: white;
}
